{%extends 'base.html'%}
{% block content %}
<h2 style="color:black;" align='left'>Contact</h2>
<p>If you have a project that you want to get started, think you need my help with something,or just want to discuss it, then don't procrastinate, get in touch instantly, say hey!!</p>
<div style="background-color:lightblue;" align='center' class="container-fluid">
<a href="tel:+916301465100"><img src="https://img.icons8.com/ios-filled/64/000000/phone-disconnected.png" height=50px width=50px/></a>
<a href="mailto:dragonair57@gmail.com"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-email-advertising-kiranshastry-solid-kiranshastry-1.png" height=70px width=70px/></a>
<a href="https://wa.me/+916301465100"><img src="https://img.icons8.com/ios-filled/50/000000/whatsapp.png" height=50px width=50px/></a>
<a href="https://t.me/rohith_gurram23"><img src="https://img.icons8.com/ios-filled/50/000000/telegram-app.png" height=60px width=60px/></a>
</div>
{% endblock content %}

